<html>
<head>
    <title>Descriptive</title>
    <link rel="stylesheet" href="../static/Space_Quiz/multiple.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Koulen&family=Nunito&family=Pathway+Gothic+One&family=Raleway&family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="question">
            <h1 class="h1">____________ is an explosion that takes place when a star dies.</h1>
        </div>

            <div class="answer">
                <form action="Choice6b">
                    <div class="options">
                        <div class="one">
                            <input type="radio" name="opt" value="neutro">
                            <label for="">Neutronova</label>
                        </div>
                        
                        <div class="two">
                            <input type="radio" name="opt" value="kilo">
                            <label for="">Kilonova</label>
                        </div>

                        <div class="three">
                            <input type="radio" name="opt" value="super">
                            <label for="">Supernova</label>
                        </div>

                        <div class="four">
                            <input type="radio" name="opt" value="proto">
                            <label for="">Protonova</label>
                        </div>
                    </div>    

                    <button type="submit" class="verify">VERIFY</button>
                </form>
            </div>  
    </div>
</body>
</html>