<html>
<head>
    <title>Descriptive</title>
    <link rel="stylesheet" href="../static/Space_Quiz/multiple.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Koulen&family=Nunito&family=Pathway+Gothic+One&family=Raleway&family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="question">
            <h1 class="h1">What has a gravitational pull so strong that even light cannot escape it?</h1>
        </div>

            <div class="answer">
                <form action="/Choice2">
                    <div class="options">
                        <div class="one">
                            <input type="radio" name="opt" value="black">
                            <label for="">Black Hole</label>
                        </div>
                        
                        <div class="two">
                            <input type="radio" name="opt" value="jupiter">
                            <label for="">Jupiter</label>
                        </div>

                        <div class="three">
                            <input type="radio" name="opt" value="dwarf">
                            <label for="">Red Dwarf Star</label>
                        </div>

                        <div class="four">
                            <input type="radio" name="opt" value="titan">
                            <label for="">Titan</label>
                        </div>
                    </div>    

                    <button type="submit" class="verify">VERIFY</button>
                </form>
            </div>  
    </div>
</body>
</html>