<html>
<head>
    <title>Descriptive</title>
    <link rel="stylesheet" href="../static/Space_Quiz/multiple.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Koulen&family=Nunito&family=Pathway+Gothic+One&family=Raleway&family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="question">
            <h1 class="h1">Where would you find the Sea of Tranquillity?</h1>
        </div>

            <div class="answer">
                <form action="/Choice2b">
                    <div class="options">
                        <div class="one">
                            <input type="radio" name="opt" value="europa">
                            <label for="">Europa - Jupiter's Moon</label>
                        </div>
                        
                        <div class="two">
                            <input type="radio" name="opt" value="moon">
                            <label for="">Earth's Moon</label>
                        </div>

                        <div class="three">
                            <input type="radio" name="opt" value="mars">
                            <label for="">Mars</label>
                        </div>

                        <div class="four">
                            <input type="radio" name="opt" value="mercury">
                            <label for="">Mercury</label>
                        </div>
                    </div>    

                    <button type="submit" class="verify">VERIFY</button>
                </form>
            </div>  
    </div>
</body>
</html>