<html>
<head>
    <link rel="stylesheet" href="../static/Space_Quiz/wrong.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Koulen&family=Nunito&family=Pathway+Gothic+One&family=Raleway&family=Righteous&display=swap" rel="stylesheet">
    <title>Wrong</title>
</head>
<body>
    <div class="big">
        <h1>Oops, Sorry, You Lost 5 Points</h1>

        <form action="/scores">
            <button type="submit" class="next">NEXT</button>
        </form>
    </div>
</body>
</html>