<html>
<head>
    <title>Space Quiz</title>
    <link rel="stylesheet" href="../static/Space_Quiz/Space_home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Koulen&family=Nunito&family=Pathway+Gothic+One&family=Raleway&family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
    <div class="big">
        <div class="h1">
            <h1>Welcome To The Space Trivia</h1>
        </div>

        <div class="div">
            <div class="rules">
                <ul>
                    <li>You will be having 6 questions.</li>
                    <li>For every correct answer, you will be awarded 10 points.</li>
                    <li>For every wrong answer, you will lose 5 points.</li>
                </ul>
            </div>

            <div class="option">
                <form action='/Choice'>
                    <button class="multiple">Multiple Choice</button>

                </form>
                    
                <form action='/Space2'>    
                    <button class="descriptive">Descriptive</button>
                </form>
            </div>
        </div>
    </div>    
</body>
</html>