<html>
<head>
    <title>Correct</title>
    <link rel="stylesheet" href="../static/Space_Quiz/correct.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Koulen&family=Nunito&family=Pathway+Gothic+One&family=Raleway&family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
    <div class="big">
        <h1>Great Job, You Earned 10 Points</h1>

        <form action="/Space2a">
            <button type="submit" class="next">NEXT</button>
        </form>
    </div>    
</body>
</html>