<html>
<head>
    <title>Descriptive</title>
    <link rel="stylesheet" href="../static/Space_Quiz/descriptive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Koulen&family=Nunito&family=Pathway+Gothic+One&family=Raleway&family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="question">
            <h1 class="h1">Which is the Largest constellation known?</h1>
        </div>

        <div class="a1">
            <div class="answer">
                <form action="/Space2b">
                    <input type="text" name="hydra" placeholder="ENTER YOUR ANSWER">
                    <button type="submit" class="verify">VERIFY</button>
                </form>
            </div>
        </div>
        
    </div>
</body>
</html>