body{
    background-image: url(space_game.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Acme, cursive;
    height: 100vh;
}

.main{
    background-color: rgba(255, 255, 255, 0.404);
    display: grid;
    grid-template-rows: 120px 70px 100px;
    justify-content: center;
    align-items: center;
    width: 500px;
    text-align: center;
    border-radius: 10px;
}

.great{
    font-size: 70px;
}

.score_is{
    font-size: 30px;
}

.score{
    font-size: 50px;
}

.try{
    background-image: linear-gradient(100deg, rgb(187, 52, 240), purple, rgb(0, 162, 255));
    border: none;
    color: white;
    width: 500px;
    font-size: 40px;
    height: 100px;
    font-family: Acme, cursive;
    font-weight: bolder;
    border-radius: 10px;
}

.large{
    display: grid;
    grid-template-rows: 400px 100px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}