body{
    background-image: linear-gradient(rgb(240, 37, 10),rgb(172, 25, 6));
    font-family: Acme, cursive;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

.next{
    background-color: rgba(255, 255, 255, 0.39);
    font-family: Acme, cursive;
    color: white;
    font-size: 35px;
    font-weight: bolder;
    border: none;
    height: 100px;
    width: 200px;
}

.big{
    display: grid;
    grid-template-rows: 830px 100px;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 1850px;
}

h1{
    text-align: center;
}